<main class="main">
  <div class="container">
    <h1>Vier Gewinnt!</h1>
    <h2 *ngIf="!winner"
        [ngClass]="{
              playerone: currentPlayer === 1,
              playertwo: currentPlayer === 2
            }"
    >
      Spieler: {{currentPlayer}}
    </h2>
    <h2 *ngIf="winner"
        [ngClass]="{
              playerone: currentPlayer === 1,
              playertwo: currentPlayer === 2
            }"
    >
      Gewonnen hat: Spieler {{winner}}
    </h2>
    <button (click)="onNewGameClick()">Neues Spiel</button>
    <div class="board">
      <div class="row" *ngFor="let row of board; index as j">
        <div class="cell"
             *ngFor="let column of row; index as i" (click)="onColumnClick(i)"
             [ngClass]="{'winning-combination': isWinningCell(j, i)}"
        >
          <div *ngIf="column !== 0"
               class="disc"
               [ngClass]="{
              playerone: column === 1,
              playertwo: column === 2
            }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</main>
<router-outlet />
